@import url(../fonts/Georgia/stylesheet.css);
@import url('../fonts/Lato/stylesheet.css');

*{
    font-family: 'Lato-Medium';
    color: #292929;
}

.container{
    max-width: 1650px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 5px;
}
.logo{
    font-family: 'Lato-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 93%;
    color: #2E9E8F;


}
a{
    text-decoration: none;
    color: inherit;
}
.btn{
    background: #2E9E8F;
    border: 1px solid #2E9E8F;
    border-radius: 4px;
    color:#FFFFFF ;
    padding: 13px 50px;
    cursor: pointer;
    font-size: 20px;
    line-height: 125%;
}



.subtitle {
    font-family: Lato-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #424242;
}

.title {
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 110%;
    color: #2E9E8F;
 
}

/*================ header============ */
.header{
    background: #EAF3F9;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 4px 2px rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 43px;
}
.header__menu{
    margin: 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.8;
    padding: 0;
}
.menu__item{
    list-style: none;
    height: 100%;
}
.menu__link{
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    line-height: 24px;
}
.menu__link::after{
    display: block;
    content: "";
    height: 1px;
    position: absolute;
    width: 0;
    left: 50%;
    background-color: #292929;
    transform: translateX(-50%);
    transition: 0.5s;

}
.menu__link:hover::after{
    width: 100%;
}
.menu-mobile{
    display: none;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}
.menu-mobile:hover{
    cursor: pointer;
}

.menu-mobile>.menu-mobile__line{
    width: 40px;
    background-color: #292929;
    height: 2px;
    position: absolute;
 
}

.menu-mobile>.menu-mobile__line::after, .menu-mobile>.menu-mobile__line::before{
    content: "";
    position: absolute;
    height: 2px;
    display: block;
    width:100%;
    background-color: #292929;
    transition: 0.3s;

}
.menu-mobile>.menu-mobile__line::after{
    top: 10px;
}
.menu-mobile>.menu-mobile__line::before{
    top: -10px;
}
.menu-mobile>.close{
    height: 0;
}
.menu-mobile>.close::before, .menu-mobile>.close::after{
    top: 0;
    transition: 0.3s;
}
.menu-mobile>.close::before{
    transform: rotate(45deg);
}
.menu-mobile>.close::after{
    transform: rotate(-45deg);

}

@media(max-width: 960px){
    .container{
        max-width: 800px;
    }
    .header__container {
        padding-top: 20px;
        padding-bottom: 10px;

    }
    .menu{
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu__item{
        margin-bottom: 10px;
        padding-right: 20px;
        text-align: center;
    }
}
@media(max-width: 675px){
    .header__container{
        padding-bottom: 20px;
    }

    .menu{
        display: none;
        position: fixed;
        padding: 20px;
        top: 50px;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        background-color: #EAF3F9;
        box-shadow: 0px 14px 4px 3px rgba(0, 0, 0, 0.7);
    }
    .menu.menu__open{
        display: block;
    }
    .menu-mobile{
        display: flex;        

    }
    .header__btn{
     display: none;
    }

}


/* ===============main=============== */
.main{
    background-image: url('../img/main/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -20px left 0px;
    background-attachment: fixed;   
    position: relative;
    z-index: 2;
}
.main__content{

    margin-left: 140px;
    max-width: 684px;
    background: #EAF3F9;
    border-radius: 66px;
    padding: 50px;
}
/* @media (max-width:1450px){
    .main{
        background-position: bottom -150px left 0px;
    }
    .main__content {
        margin-left: 100px;
    }
    
} */

.main__container{
    padding: 139px 0px 240px 0px;
}

.main__content>*:not(:last-child){
    margin-bottom: 20px;
}
.main__heading{
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 112%;
    color: #2E9E8F;
}
.main__text{
    font-family: Lato;
    font-style: normal;
    font-size: 28px;
    line-height: 130%;
    color: #484848;
}
.main__btn{
    display: flex;
    justify-content: center;
    max-width: 400px;
}
@media (max-width:1400px) {
    .main__content{
        margin-left: 30px;
    }
    .main{
        background-position: bottom -140px left 0px;
    }
}
@media (max-width:1300px){
    .main{
        background-position: bottom -100px right 0px;
    }
    
}
@media (max-width:1000px) {
    .main{
        background-position: bottom -50px right -200px;
    }
    .main__container{
        padding: 139px 0px 139px 0px;
    }
    .main__content{
        max-width: 500px;
        margin-left: 10px;
    }
    .main__heading{
        font-size: 40px;
    }
    .main__text{
        font-size: 22px;
    }

    .main__content{
        padding: 40px;
        display: flex;
        flex-direction: column;

    }
    .main__heading{
        max-width: 400px;

    }
    
}
@media (max-width:880px) {
    .main{
        background-position: bottom 0px right -400px;
    }
}

@media(max-width: 675px){
    .main{
        background-size: cover;
        background-image: url("../img/main/bg-mobile.png");
        background-position: 0 0;
    }
    .main__container{
          display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 70px 10px 70px 10px;
    }
    .main__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        max-width: 400px;

    }
    .main__heading{
        font-size: 30px;
        text-align: center;

    }
    .main__text{
        font-size: 18px;
        text-align: center;

    }
}
@media(max-width: 400px){
    .main__container{
        padding: 30px 10px 30px 10px;
    }
    .main__heading{
        max-width: 250px;
        font-size: 24px;
    }
    .main__text{
        font-size: 14px;
    }
    .main__btn {
        font-size: 14px;
    }

}

  /* ==============works============ */
.works {
    background: #EAF3F9;
    position: relative;
    z-index: 1;
}

.works__container {
   

}
.works__header {
    padding-top: 140px;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-gap: 50px ;
    position: relative;
    align-items: start;
}

.works__heading {

}

.works__desc {
    align-self: center;
    padding: 0px 0px 130px 30px;
}
.works__desc-text {
    text-align: center;

  
}
.works__img-bg{
    position: absolute;
    right:0px;
    width: 900px;
    height: 400px;
}
.works__cards {
}
.cards {
}
.cards__item {
}
.item {
}
.item__heading {
}
.item__number {
}
.item__title {
}
.item__text {
}
.item__img {
}




/*============== modal============ */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    z-index: 10;

}

.modal__container{
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    background: #EAF3F9;
  
}
.modal__close, .modal__close::before{
    position: absolute;
    top: 50px;
    right: 40px;
    height: 3px;
    width: 45px;
    background-color: #2E9E8F;
    cursor: pointer;  
    transform-origin: center center;
    transform: rotate(-45deg);
    transition: all 0.3s;

}
.modal__close::before{
    content:"";
    display: block;
    top: 0px;
    right: 0px;
    transform: rotate(90deg);

}
.modal__close:hover{
    opacity: 0.7;
}
.modal__title{
    text-align: center;
    margin-bottom: 20px;
}
.modal__subtitle{
    margin-bottom: 20px;
}
.modal__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.modal__form>*:not(:last-child){
    margin-bottom: 20px;
}
.modal__input{
    width: 400px;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #2E9E8F;
    background: transparent;

}
.modal__input:active{
    outline-color: rgba(rgb(119, 227, 231), green, blue, alpha);
}
.modal__check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.modal__check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .modal__check+label::before {
    content: '';
    transition: all 0.3s;
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .modal__check:checked+label::before {
    border-color: #2E9E8F;
    background-color: #2E9E8F;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
