@import url('../fonts/Georgia/stylesheet.css');
@import url('../fonts/Lato/stylesheet.css');

*{
    font-family: 'Lato-Medium';
    color: #292929;
}

.container{
    max-width: 1650px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 5px;
}
@media(max-width: 1650px){
    .container{
        max-width: 1300px;
    }
}
@media(max-width: 1300px){
    .container{
        max-width: 960px;
    }
}
@media(max-width: 960px){
    .container{
        max-width: 800px;
    }
}
.logo{
    font-family: 'Lato-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 93%;
    color: #2E9E8F;


}
a{
    text-decoration: none;
    color: inherit;
}
.text{
    font-family: 'Lato-Medium';
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: 120%;

}
.btn{
    background: #2E9E8F;
    border: 1px solid #2E9E8F;
    border-radius: 4px;
    color:#FFFFFF ;
    padding: 13px 50px;
    cursor: pointer;
    font-size: 20px;
    line-height: 125%;
}
a.btn{
    display: inline-block;
    max-width: 400px;
}
@media(max-width:550px){
    .btn {
        font-size: 14px;
    }
}



.subtitle {
    font-family: Lato-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: 100%;
    color: #424242;
}

.title {
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    font-size: calc(26px + (50 - 26) * ((100vw - 320px) / (1920 - 320)));
    line-height: 110%;
    color: #2E9E8F;
 
}

@media (max-width:445px) {
    .heading{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        text-align: center;
    }
}

/*================ header============ */
.header{
    background: #EAF3F9;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 4px 2px rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 43px;
}
.header__menu{
    margin: 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.8;
    padding: 0;
}
.menu__item{
    list-style: none;
    height: 100%;
}
.menu__link{
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    line-height: 24px;
}
.menu__link::after{
    display: block;
    content: "";
    height: 1px;
    position: absolute;
    width: 0;
    left: 50%;
    background-color: #292929;
    transform: translateX(-50%);
    transition: 0.5s;

}
.menu__link:hover::after{
    width: 100%;
}
@media(max-width: 1300px){
    .menu__link{
        font-size: 18px;
    }
}
.menu-mobile{
    display: none;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}
.menu-mobile:hover{
    cursor: pointer;
}

.menu-mobile>.menu-mobile__line{
    width: 40px;
    background-color: #292929;
    height: 2px;
    position: absolute;
 
}

.menu-mobile>.menu-mobile__line::after, .menu-mobile>.menu-mobile__line::before{
    content: "";
    position: absolute;
    height: 2px;
    display: block;
    width:100%;
    background-color: #292929;
    transition: 0.3s;

}
.menu-mobile>.menu-mobile__line::after{
    top: 10px;
}
.menu-mobile>.menu-mobile__line::before{
    top: -10px;
}
.menu-mobile>.close{
    height: 0;
}
.menu-mobile>.close::before, .menu-mobile>.close::after{
    top: 0;
    transition: 0.3s;
}
.menu-mobile>.close::before{
    transform: rotate(45deg);
}
.menu-mobile>.close::after{
    transform: rotate(-45deg);

}

@media(max-width: 960px){
    .header__container {
        padding-top: 20px;
        padding-bottom: 10px;

    }
    .menu{
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu__item{
        margin-bottom: 10px;
        padding-right: 20px;
        text-align: center;
    }
}
@media(max-width: 675px){
    .header__container{
        padding-bottom: 20px;
    }

    .menu{
        display: none;
        position: fixed;
        padding: 20px;
        top: 50px;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        background-color: #EAF3F9;
        box-shadow: 0px 14px 4px 3px rgba(0, 0, 0, 0.7);
    }
    .menu.menu__open{
        display: block;
    }
    .menu-mobile{
        display: flex;        

    }
    .header__btn{
     display: none;
    }

}


/* ===============main=============== */
.main{
    background-image: url('../img/main/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
    position: relative;
    z-index: 2;
}
.main__content{

    margin-left: 140px;
    max-width: 684px;
    background: #EAF3F9;
    border-radius: 66px;
    padding: 50px;
}


.main__container{
    padding: 139px 0px 240px 0px;
}

.main__content>*:not(:last-child){
    margin-bottom: 20px;
}
.main__heading{
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 112%;
    color: #2E9E8F;
}
.main__text{
    font-family: Lato;
    font-style: normal;
    font-size: 28px;
    line-height: 130%;
    color: #484848;
}
.main__btn{
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}
@media (max-width:1650px) {
    .main__content{
        margin-left: 0px;
    }
}
@media (max-width:1300px){
    .main{
        background-size: 130%;
    
       
    }
    
}

@media (max-width:1000px) {

    .main__container{
        padding: 139px 0px 139px 0px;
    }
    .main__content{
        max-width: 500px;
    }
    .main__heading{
        font-size: 40px;
    }
    .main__text{
        font-size: 22px;
    }

    .main__content{
        padding: 40px;
        display: flex;
        flex-direction: column;

    }
    .main__heading{
        max-width: 400px;

    }
    
}

@media(max-width: 720px){
    .main{
        background-size: 140%;
        background-position: left top 40px;
    }

    .main__container{
          display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 70px 10px 70px 10px;
    }
    .main__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        max-width: 400px;

    }
    .main__heading{
        font-size: 30px;
        text-align: center;

    }
    .main__text{
        font-size: 18px;
        text-align: center;

    }
}

@media(max-width: 600px){
    .main{
        background-image: url('../img/main/bg-mobile.png');
        background-size: 300%;
    }
}
@media(max-width: 400px){
    .main__container{
        padding: 30px 10px 30px 10px;
    }
    .main__heading{
        max-width: 250px;
        font-size: 24px;
    }
    .main__text{
        font-size: 14px;
    }
  

}

  /* ==============works============ */
.works {
    overflow: hidden;
    background: #EAF3F9;
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
}

.works__wrapper {
    margin-left: 140px;

}
@media(max-width: 1650px){
    .works__wrapper{
        margin-left: 0px;
    }
}
.works__header {
    padding-top: 140px;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-gap: 50px ;
    position: relative;
    align-items: start;

}

.works__desc {
    align-self: center;
}
.works__desc-text {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;

}
.works__img-bg{
    position: absolute;
    right:0px;
    width: 900px;
    height: 400px;
}
@media (min-width:2070px) {
    .works__img-bg{
        display: none;
    }
    
}
@media (max-width:1570px) {
    .works__img-bg{
        width: 700px;
        overflow: hidden;
    }
    .works__header {
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (max-width:1500px) {
    .works__header {
        padding-top: 20px;
    }
    .works__img-bg{
        height: auto;
        top: -100px;
    }
    .works__desc-text{
        font-size: 20px;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 106px;
}
@media (max-width:1300px) {
    .cards {
        grid-column-gap: 50px;
    }
    

}
@media (max-width:1100px) {

    .works__img-bg{
        width: 500px;
        top: -50px;
     
    }

}
@media (max-width:800px) {
    .works__desc-text{
        font-size: 14px;
    }
    .works__img-bg{
        width: 400px;

    }
}
@media (max-width:600px) {
    .works__desc-text{
        font-size: 14px;
    }
    .works__img-bg{
        width: 300px;
        top: 0px;
        right: 0;

    }
    .works__header {
        grid-gap: 10px;
    }
}
@media (max-width:445px) {
    .works__header {
       grid-template-columns: 1fr;
    }
    .works__img-bg{
       display: none;
    }
    .works__desc{
        display: none;
    }

}

.item__heading {
    display: flex;
    align-items: center;
}
.item__number {
    font-family: Georgia;
    font-size: 150px;
    text-align: center;
    color: rgba(1, 153, 109, 0.2);

}
.item__title {
    margin-left: -45px;
    margin-top: 50px;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.item__text {
    margin-top: -20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #424242;
}
.item__img {
    width: 100%;
}
.item__img img{
    height: 492px;
    object-fit: cover;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards__item_second{
    margin-top: 200px;
}
.cards__item_third{
    margin-top: 40px;
}
@media(max-width:1000px){
    .item__text {
        font-size: 1em;
    }
}
@media(max-width:800px){
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .cards__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .item__img{
        display: flex;
        justify-content: center;
    }
    .cards__item_third {
        margin-top: -70px;
        grid-column: 1/3;
        max-width: 50%;
        align-self: center;
        justify-self: center;
    }
    .cards__item_second {
        margin-top: 0px;
    }
    .item__img img {
        height: 300px;
    }
    .works {
        padding-bottom: 20px;
    }
}

@media(max-width:550px){
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .cards__item {
        max-width: 80%;
        margin-top: -30px;
    }
    .cards__item_third {
        grid-column: 1/2;
    }
    .item__number{
        font-size: 90px;
    }
    .item__title{
        font-size: 24px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .item__img img {
        height: 250px;
    }
}
@media(max-width:450px){
    .item__text{
        font-size: 0.8em;
    }
    .item__img img {
        height: 150px;
    }
    .cards__item {
        max-width: 90%;
    }
}


/*============== about============= */
.about {
    background: #3E5361;
    position: relative;
    height: 100%;
}

.about__container {
    padding: 103px 5px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-column-gap: 150px;

}
.about__desk{

}
.about__ellipse{
    position: absolute;
    left: 0px;
    object-fit: cover;
    top: -20px;
    width:55%;
    overflow: hidden;
}
@media(min-width:2070px){
    .about__ellipse{
        display: none;
    }

}
@media(max-width:1600px){
    .about__ellipse{
        top: 0px;
        
    }

}
@media(max-width:1500px){
    .about__ellipse{
        width:60%;
        
    }

}
.about__desk * {
    color: #E5E5E5;
    margin-left: 50px;

}

.about__title {
    margin-bottom: 24px;
}
.about__list {
    list-style-position: outside;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}
.about__item {
    font-weight: 400;
    font-size: 30px;
    line-height: 157%;

}

.about__btn {
    position: relative;
    z-index: 2;
}

.about__slider {
    width: 100%;
    padding-bottom: 120%;
    overflow: hidden;
    border-radius: 16px;
}
.slider {
    position: relative;
}
.slider__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    object-position: 0 0;
}
.slider__arrows{
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
  
}
.arrow{
    background: transparent;
    border: none;
    cursor: pointer;
}

.points{
    width: 100%;
    padding-bottom: 47px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    align-items: end;
    justify-content: center;
    display: flex;

}
.points__item.active{
    background: rgba(46, 158, 143, 0.5);
}
.points__item{
    width: 30px;
    height: 30px;
    border: 5px solid #3E5361;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

}
.points__item:not(:last-child){
    margin-right: 18px;
}
@media(max-width:1300px){
    .about__item {
        font-size: 20px;
    }
    .about__slider {
        max-height: 400px;
    }

}
@media (max-width: 960px){
    .about__container{
        grid-template-columns: 1fr;
        grid-gap:20px;
        padding: 50px 5px;
    }
    .about__desk * {
        margin-left: 0;
    }
    .about__list{
        list-style-position: inside;
    }
    .about__slider{
        grid-row: 1/2;
        width: 70%;
        padding-bottom: 70%;
        margin: auto;
    }
    .about__ellipse{
        display: none;
    }
 
    
}

@media (max-width: 800px){
    .about__container {
        padding: 20px 12px;
    }
    .about__desk{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about__item {
        font-size: 1em;
    }
    .about__list{
        margin-bottom: 24px;
    }

}

@media (max-width: 550px){
    .arrow{
        width: 30px;
    }
    .points{
        
        padding-bottom: 20px;
    }
    .points__item{
        width: 15px;
        height: 15px;
        border-width: 2px;
    }
    .points__item:not(:last-child){
        margin-right: 10px;
    }
}

/* ========price============== */

.price {
    background:  #EAF3F9;
}
.price__container {
    padding: 106px 5px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-column-gap:139px;
}

.lessons {
    background: rgba(1, 153, 109, 0.2);
    border-radius: 18.1125px;
    padding: 56px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.lessons>*:not(:last-child){
    margin-bottom: calc(18px + (29 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.lessons__item {
    background: #EAF3F9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18.11px;
    padding: 25px 38px;
    text-align: center;
}
.lessons__heading {
    font-family: 'Lato-Bold';
    font-size: 30px;
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: 157%;
    text-align: center;
    text-indent: 2px;
    color: #000000;
}
.lessons__price {
    font-family: 'Lato-ExtraBold';
    font-size: 34px;
    font-size: calc(18px + (34 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.05em;
    text-indent: 2px;

    color: #000000;
}
.price__desc>*:not(:last-child) {
    margin-bottom: calc(10px + (50 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.price__item {
    font-size: 30px;
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: 157%;
    color: #484848;
}

.price__btn {
    display: block;
    max-width: 400px;
}

@media (max-width:1300px){
    .price__container {
        padding: 80px 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:80px;
    }
    .lessons {
        justify-self: center;
        align-self: center;
        padding: 40px 30px;
    }
    .lessons__item {
        padding: 20px 30px;
    }

}

@media (max-width:960px){
    .price__container {
        padding: 40px 5px;
        grid-gap:40px;
    }
    .price__container {
        grid-template-columns: 1fr;
    }
    .price__heading{
        text-align: center;
    }
    .price__desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
/* ===========free-block============ */
.free {
    background-color:#3E5361 ;
    padding-top: 63px;
    ;
    
}

.free__container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.6fr;
    align-items: center;
    background-position:top right 700px;
    background-image: url("../img/free/arrow.png");
    background-repeat: no-repeat;

}
@media (max-width:1650px) {
    .free__container {
        background-position:top right 350px;
    }
    
}
@media (max-width:1300px) {
    .free__container {
        background-position:top right 0px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .free__heading{
        background-color:#3E5361 ;
    }
    
}


    
.free__heading {
    text-align: right;
    padding-bottom: 74px;
    
}

.free__subtitle {
    color: #2E9E8F;
}

.free__title {
    color: #FFFFFF;
    
    
}
.free__text {

    color: #FFFFFF;

}

@media (max-width:960px) {
    .free{
        padding-top: 40px;
    }
    .free__container {
        background-image: none;
        grid-template-columns: 1.3fr 0.7fr;
        grid-template-rows: auto;
        justify-items: center;
    }
    .free__heading {
        grid-column: 1/3;
        text-align: center;
        grid-row: 1/2;
    }
    .free__container>*{
        padding-bottom: 20px;
    }

}
@media (max-width:620px){
    .free__img{
        display: none;
    }
    .free__download {
        grid-column: 1/3;
    }


}


/*================game==============*/
.game {
    background-color: #EAF3F9;
    padding-top: 84px;
    padding-bottom: 68px;
}

.game__container {
}

.heading {
}
.game__heading {
    margin-bottom: 30px;
}

.game__subtitle {
}

.game__title {
}
.game__text {
    color: #424242;
}
.game__logics {
    width: 80%;
    margin: auto;
}
.game__frame{
    width: 100%;
    height: 500px;
    border: 0px;

}

@media (max-width:960px) {
    .game {
        background-color: #EAF3F9;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .game__heading {
        text-align: center;
    }
    
}


/*===========footer==============*/
.footer {
    background-color: #3E5361;
    color: #FFFFFF;
    font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer a{
    color: #FFFFFF;
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.footer__logo {
}

.footer__nav {
}
.nav {
}
.nav__list {
    list-style: none;
    padding: 0;
}
.nav__item {
}
.nav__link {
}
.footer__docs {
}
.docs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.docs__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.footer__social {
 
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.social__text {
    color: #FFFFFF;
    margin-right: 17px;
    
}
.social__link {
}
.social__images{
    display: flex;
   
}
.social__images>*:not(:last-child){
    margin-right: 17px;
}
.social__img {
    width: calc(42px + (42 - 20) * ((100vw - 320px) / (1920 - 320)));
}
@media(max-width:1300px){

    .social__text {
        margin-right: 0px;
        
    }
    .docs {
        align-items: center;
        text-align: center;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1300 - 320)));
        letter-spacing: 0.01em;
    }

    .docs>*:not(:last-child){
        margin-bottom: 10px;
    }
}
@media (max-width: 960px){
    .footer__container {
        grid-template-columns: 1fr 1fr;
        grid-row-gap:10px;
        justify-items: center;
    }
    .footer__social{
        grid-column: 2/3;
    }
    .social__text {
        margin-right: 10px;
        
    }
    
}

@media (max-width: 500px){
    .footer__container {
        grid-template-columns: 1fr;
        
        
    }
    .footer__social{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 10px;
    }
}

/*============== modal============ */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    z-index: 10;

}

.modal__container{
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    background: #EAF3F9;
  
}
.modal__close, .modal__close::before{
    position: absolute;
    top: 50px;
    right: 40px;
    height: 3px;
    width: 45px;
    background-color: #2E9E8F;
    cursor: pointer;  
    transform-origin: center center;
    transform: rotate(-45deg);
    transition: all 0.3s;

}
.modal__close::before{
    content:"";
    display: block;
    top: 0px;
    right: 0px;
    transform: rotate(90deg);

}
.modal__close:hover{
    opacity: 0.7;
}
.modal__title{
    text-align: center;
    margin-bottom: 20px;
}
.modal__subtitle{
    margin-bottom: 20px;
}
.modal__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.modal__form>*:not(:last-child){
    margin-bottom: 20px;
}
.modal__input{
    width: 400px;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #2E9E8F;
    background: transparent;

}
.modal__input:active{
    outline-color: rgba(rgb(119, 227, 231), green, blue, alpha);
}
.modal__check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.modal__check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .modal__check+label::before {
    content: '';
    transition: all 0.3s;
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .modal__check:checked+label::before {
    border-color: #2E9E8F;
    background-color: #2E9E8F;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
@media (max-width:500px) {
    .modal__input {
        width: 100%;
    }
    
}
